<div class="container clearfix">
  <div class="profile-content float-left">
    <h1 class="name">Tommaso Garuglieri</h1>
    <h2 class="desc">Full Stack Developer</h2>

    <ul class="social list-inline">
      <li class="list-inline-item"><a href="https://twitter.com/GarulloBot"><i class="fab fa-twitter"></i></a></li>
      <li class="list-inline-item"><a href="https://www.linkedin.com/in/tommaso-garuglieri-944880105/"><i class="fab fa-linkedin-in"></i></a></li>
      <li class="list-inline-item"><a href="https://github.com/GaruGaru/"><i class="fab fa-github-alt"></i></a></li>
    </ul>

  </div>


  <a class="btn btn-cta-primary float-right" href="mailto:garuglieritommaso@gmail.com" target="_blank"><i
    class="fas fa-paper-plane"></i> Contact Me</a>

  <a style="margin-right: 2px" class="btn btn-cta-primary pull-right"
     href="https://www.visualcv.com/tommaso-garuglieri" target="_blank"><i class="fa fa-book"></i> CV</a>

</div>
