<div class="section-inner">
  <h2 class="heading">Languages</h2>
  <div class="content">

    <div class="skillset">

      <div class="item">
        <h3 class="level-title">
          Java
          <span class="level-label">Experienced</span>
        </h3>
        <div class="level-bar">
          <div class="level-bar-inner" style="width: 95%">
          </div>
        </div>
      </div>

      <div class="item">
        <h3 class="level-title">Kotlin<span class="level-label">Expert</span></h3>
        <div class="level-bar">
          <div class="level-bar-inner" style="width: 80%">
          </div>
        </div>
      </div>

      <div class="item">
        <h3 class="level-title">GoLang<span class="level-label">Proficient</span></h3>
        <div class="level-bar">
          <div class="level-bar-inner" style="width: 67%">
          </div>
        </div>
      </div>

      <div class="item">
        <h3 class="level-title">Python<span class="level-label">Proficient</span></h3>
        <div class="level-bar">
          <div class="level-bar-inner" style="width: 50%">
          </div>
        </div>
      </div>

      <div class="item">
        <h3 class="level-title">Typescript<span class="level-label">Beginner</span></h3>
        <div class="level-bar">
          <div class="level-bar-inner" style="width: 37%">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
