<section class="latest section">
  <div class="section-inner">
    <h2 class="heading">Personal Projects</h2>
    <div class="content">

      <ng-template #loading>
        <div class="mx-auto text-center" style="width: 200px">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>

      <div *ngIf="projects | async as projects; else loading" class="content">

        <div *ngFor="let project of projects" class="item">

          <div class="item featured text-center">
            <h3 class="title"><a
              href="{{project.uri}}"
              target="_blank">Flaw</a></h3>

            <span class="badge badge-pill badge-primary">{{project.language}}</span>

            <span *ngFor="let tag of project.tags" class="badge badge-pill badge-info">{{tag}}</span>

            <p class="summary">{{project.description}}</p>
            <a class="more-link" href="{{project.uri}}" target="_blank">View on GitHub</a>
          </div>

          <hr class="divider"/>
        </div>


      </div>

      <a class="more-link" href="https://github.com/GaruGaru/" target="_blank">View all</a>

    </div>
  </div>
</section>
