<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tommaso Garuglieri's Portfolio</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>

<header class="header">
  <app-header></app-header>
</header>

<div class="container sections-wrapper" style="background: #DAE3E7;">
  <div class="row">
    <div class="primary col-lg-8 col-12">

      <app-about-me></app-about-me>

      <app-work-experience></app-work-experience>

      <app-personal-projects></app-personal-projects>

    </div>

    <div class="secondary col-lg-4 col-12">

      <aside class="info aside section">
        <app-contacts></app-contacts>
      </aside>

      <aside class="skills aside section">
        <app-skills></app-skills>
      </aside>

      <aside class="education aside section">
        <app-education></app-education>
      </aside>


      <aside class="languages aside section">
        <app-languages></app-languages>
      </aside>


    </div>
  </div>
</div>


<footer class="footer">
  <div class="container text-center">
    <small class="copyright">Base theme by Xiaoying Riley</small>
  </div>
</footer>

</body>
</html>
