<ng-template #loading>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>

<section *ngIf="workExperiences | async as experiences; else loading" class="experience section">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">

      <div *ngFor="let experience of experiences" class="item">

        <div>

          <h3 class="title">
            <img width="65px" height="65px"
                 src="{{experience.company.logo}}"
                 alt="..." class="rounded-circle">

            {{experience.role}} - <span class="place"><a
            href="{{experience.company.website}}">{{experience.company.name}}</a></span>
            <span class="year">({{experience.start_year}}
              - {{ experience.end_year !== -1 ? experience.end_year : "Present" }})</span>
          </h3>
        </div>

        <div [innerHTML]=experience.description></div>

      </div>

    </div>
  </div>
</section>
